
<div class="container">

  <!-- Filtrar por: 
  <mat-form-field>
    <mat-label><p>Mercado alvo: </p></mat-label>
    <mat-select multiple [(ngModel)]="markets">
      <mat-option *ngFor="let stack of stacks"></mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-grid-list cols="2" rowHeight="4:1">  
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Filtrar por tecnologia</mat-label>
        <mat-select [(ngModel)]="selectedStacks" multiple>
          <mat-option *ngFor="let stack of stacks" [value]="stack">{{stack.name}}</mat-option>
        </mat-select>
      </mat-form-field><br>
      <button mat-raised-button (click)="getProductsByStacks()">Buscar</button>
    
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field>
        <mat-label>Filtrar por Mercado</mat-label>
        <mat-select [(ngModel)]="selectedMarkets"  multiple>
          <mat-option *ngFor="let market of markets" [value]="market">{{market.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <p><button mat-raised-button (click)="getProductsByMarkets()">Buscar</button></p>
    </mat-grid-tile>
  </mat-grid-list>


  <div *ngFor="let product of products">
    <mat-card>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle *ngIf="product.description"> {{ product.description }}</mat-card-subtitle>
      <mat-card-content>
        <b>Tecnologias: </b>
        <li *ngFor="let stack of product.stacks"> {{ stack.name }} </li>
        <b>Mercado alvo: </b>
        <li *ngFor="let targetMarket of product.targetMarkets"> {{ targetMarket.name }}</li>
      </mat-card-content>
    </mat-card>
  </div>

